<!DOCTYPE html>
<html 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>장바구니</title>

    <link rel="stylesheet" th:href="@{/css/cart.css}">
</head>

<body>
    <div layout:fragment="content" class="main_sect_pnl"> 
        <div class="upperside_cart">
            <h2>장바구니</h2>
            <div class="cart_menu_pnl">
                <input type="button" value="초기화">
            </div>
        </div>
       
        <table>
            <thead>
            	<tr>
                	<td class="item_num" >번호</td>
                	<td class="item_name">상품명</td>
                	<td class="item_quantitiy">수량</td>
                	<td class="item_price">가격</td>
                </tr>
            </thead>
            <tbody>
                <tr class="soccer" th:each="product, st:${productList}">
                    <td class="list_num" th:text="${prdName}"></td>
                    <td class="prd_name"></td>
                    <td class="prd_quantity"></td>
                    <td class="prd_price"></td>
                </tr>
                <tr class="replica">
                    <td class="list_num"></td>
                    <td class="prd_name"></td>
                    <td class="prd_quantity"></td>
                    <td class="prd_price"></td>
                </tr>
        	</tbody>
    	</table>
    	<div class="total_price">
        	<div>
            	<span>total : </span>
            	<input type="text" />
            	<span>원</span>
        	</div>

        	<div class="pay_btn_fld">
            	<a href="#">결제하기</a>
        	</div>
    	</div>
    </div>
</body>
</html>
