<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}" 
	  lang="ko-kr">
<head>
<meta charset="UTF-8">
<title>게시글 보기</title>

<!-- 10.26 -->
<style>
#reply_write_form {
 resize:none;
}
</style>

<!-- bootstrap icons -->
<link rel="stylesheet" th:href="@{/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css}">

<link rel="stylesheet" th:href="@{/css/noticeView.css}">

<!-- 10.26 : 댓글 전송용  -->
<!-- AJAX library axios -->
<script th:src="@{'/axios/1.5.0/dist/axios.min.js'}"></script>

<!-- 10.27 : 코드 다량 발생 → 별도 파일화 -->
<script th:src="@{'/js/notice_view.js'}"></script>

<!-- 댓글 제어 -->
<script>
window.onload = () => {
		
	// 개별글 로딩시 지금까지 집계된 댓글들 읽어오기
	let noticeNum = '[[${notice.noticeNum}]]';
	
	// 전체 댓글 로딩(불러오기) : notice_view.js 파일로 함수 분리
	getAllReplies(noticeNum);
	
	/* ***************************************************************************** */ 
 
	// 댓글 작성 함수 : notice_view.js 파일로 함수 분리
 	writeReply(noticeNum, '[[${#authentication.name}]]');
	
	// 댓글 수정 함수
	updateReply(noticeNum, '[[${#authentication.name}]]');
	
	// 댓글 삭제 함수
	deleteReplies(noticeNum, '[[${#authentication.name}]]');
	
	// (원)글 삭제 함수
	deleteNotice(noticeNum, '[[${#authentication.name}]]');
	
} // onload
</script>
</head>
<body>

	<!-- layout -->
	<div layout:fragment="content"  class="main_sect_pnl">

		<div class="space"></div>
		<div class="content_sect_pnl">
		<!-- [[${notice}]] -->
			<div class="upperside_notice">
				<h2><b>Notice</b><span id="sub_title"> | 공지사항</span> </h2>
	
				<div class="notice_menu_pnl">
				
					<!-- 글수정 링크 추가 -->
					<a type="button" class="btn btn-primary" th:href="@{/notice/list.do}">게시글 목록</a>
					&nbsp;
					<a type="button" class="btn btn-primary" 
						th:href="@{'/notice/update.do?noticeNum='+${notice.noticeNum}}"
						th:if="${#authentication.name} == ${notice.noticeWriter}">글수정</a>
					<!-- (원)글삭제 링크 추가 -->	
					<a type="button" class="btn btn-primary ms-2" 
					    th:id="${'notice_delete_btn_' + notice.noticeNum}"
						href="#"
						sec:authorize="hasRole('ROLE_ADMIN')">글삭제</a>
				</div>
			</div>
			
			<div class="view_notice">
				<ul>
					<li><span class="left_col">번  호</span><span class="right_col" th:text="${notice.noticeNum}"></span></li>
					<li><span class="left_col">작성자</span><span class="right_col" th:text="${notice.noticeWriter}"></span></li>
					<li><span class="left_col">제  목</span><span class="right_col" th:text="${notice.noticeSubject}"></span></li>
					<li class="upper-side"><span class="left_col">작성 일자 </span><span class="right_col" th:utext="${#dates.format(notice.noticeDate, 'yyyy-MM-dd HH:mm:ss')}"></span></li>
				</ul>
				<div class="notice_content_box">
					<div id="notice_content_fld" th:utext="${notice.noticeContent}"></div>
				</div>
				<ul>
					<li>
						<span class="left_col">첨부파일</span>
						<span class="right_col" th:if="${#strings.isEmpty(notice.noticeFile)}">첨부 파일 없음</span>
						<a id="notice_file" th:href="@{'/notice/download/'+${notice.noticeOriginalFile}+'/'+${notice.noticeFile}}">
						<span class="right_col"
							  th:if="${!#strings.isEmpty(notice.noticeOriginalFile)}" 
						      th:utext="${notice.noticeOriginalFile}"></span></a> 
					</li>
				</ul>
			</div>
		
			<div id="reply_pnl" class="reply_pnl">
			 
			
				<div class="reply_btn_pnl">
					
					<!-- 패쓰워드 -->
					<input type="text" th:id="${'notice_pass_' + notice.noticeNum}" 
						   th:name="${'notice_pass_' + notice.noticeNum}" required 
						   placeholder="비밀번호"
						   class="notice_password"
						   sec:authorize="hasRole('ROLE_ADMIN')">
		
				</div>	
			
			</div>
		
		</div>
		<!--// content_sect_pnl -->

		<div class="space"></div>
	</div>
	<!--// layout -->

</body>
</html>