<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}" lang="ko-kr">
<head>
<meta charset="UTF-8">
<title>게시글 쓰기</title>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script>
// 10.19
// summmernote 삽입 이미지 파일 업로드 전송
function sendFile(file, el) {

  // FormData 객체 
  // : https://developer.mozilla.org/ko/docs/Web/API/FormData
  let formData = new FormData();
  formData.append('file', file);
  
  // jQuery AJAX
  $.ajax({
	  
    data: formData,
    type: "POST", // 업로드시 필수사항
    url: '/portfolio/notice/image',
    cache: false,
    contentType: false,
    enctype: 'multipart/form-data', // 업로드시 필수사항 
    processData: false,
    
    success: function(url) {
    	
    	console.log("이미지 URL : ", url);
    
    	$(el).summernote('editor.insertImage', url);
    	
     	// $('#imageNotice').append('<li><img src="'+url+'" width="480" height="auto"/></li>');
     	
    } //
    
  });
  
}

$(function() {
	
	// case-1
	// $('#noticeContent').summernote(
			
	// case-2
	$('#noticeContentDiv').summernote(
			{
				placeholder : '글 내용을 작성하십시오',
				tabsize : 2,
				height : 300,
				theme: 'simplex',
				toolbar : [ [ 'style', [ 'style' ] ],
						[ 'font', [ 'bold', 'underline', 'clear' ] ],
						[ 'color', [ 'color' ] ],
						[ 'para', [ 'ul', 'ol', 'paragraph' ] ],
						[ 'table', [ 'table' ] ],
						[ 'insert', [ 'link', 'picture', 'video' ] ],
						[ 'view', [ 'fullscreen', 'codeview', 'help' ] ] ]
			
				,lang : 'ko-kr',
				
				// 참고) 전송 방법
				// 참고로, 컨텐츠 내의 삽입 이미지들을 아래와 같이 파일 업로드 처리를 하지 않으면,
				// base64 알고리즘으로 암호화된 데이터 스트림(data stream) 형태로 전송됩니다.
				
				// - 컨텐츠 내부의 삽입 이미지들 업로드 API Guide
				// : https://summernote.org/deep-dive/#callbacks			
				
				// 참고) 콜백 함수(callback) 
			    // : https://developer.mozilla.org/ko/docs/Glossary/Callback_function
				callbacks : {
					
					// 참고) onImageUpload 이벤트(event)
					// : https://summernote.org/deep-dive/#onimageupload
					
					onImageUpload: function(files, editor, welEditable) {
						
						console.log("업로드할 이미지 파일들 : ", files.length);
						
		                for (var i = files.length - 1; i >= 0; i--) {
		              		sendFile(files[i], this);
		                } // for
		              
		            } // onImageUpload
					
				} //callbacks
			
			});
});

window.onload = function() {
	
	// TODO
	// case-2
	// 게시글 내용
	let noticeContentDiv= document.getElementById("noticeContentDiv");
	let noticeContentHidden = document.getElementById("noticeContent");
	let noticeForm = document.getElementById("notice_write_frm");
	
	// summernote actual component : 썸머노트의 실제 글내용 컴포넌트
	// F12 → Elements 탭 메뉴 코너에서 확인할 수 있습니다.
	let summernoteActualContent = document.querySelector(".note-editable");
	
	// case-2
	// 폼점검
	noticeForm.onsubmit = (e) => {
		
		// TODO
		let content = summernoteActualContent.innerHTML;
		// 실제 전송용 hiddedn 필드에 입력
		noticeContentHidden.value = content; 
			
		console.log("content : ", content.trim()); // 컨텐츠 내용
		
		// 주의) summernote
		// 비어 있는 초기 상태 :  "<p><br></p>"(초기)
		// 편집 후 공백 : ""(편집중 공백)
		// <p>&nbsp;</p>
		// "<p><br></p>", "<p>&nbsp; &nbsp;</p>" => 공백 치환
		
		content = content.replaceAll('<p><br></p>', '')
					     .replaceAll('&nbsp;', '')
					     .replaceAll('<p>', '')
					     .replaceAll('</p>', '')
					     .trim()
		
		console.log("content : ", content.length); 
				
		if (content.length == 0) {
		
			alert("게시글 내용을 입력하십시오.");
			summernoteActualContent.focus(); // 썸머노트의 실제 글내용 컴포넌트에 focus(입력 대기)
			
			return false; // 전송 취소
		}
		
		// 파일 업로드 사이즈 체크 : 10MB 보다 큰지 점검
		let noticeFile = document.getElementById("noticeFile");

		//let uploadFileSize = noticeFile.files[0].size;
		// 버그 패치 (빈 파일일 경우)
		let uploadFileSize = (noticeFile.value == "") ? 0 : noticeFile.files[0].size;

		const maxUploadFileSize = 10 * 1024 * 1024; // 10MB
		
		if (uploadFileSize > maxUploadFileSize) {
			
			alert("10 MB 보다 큰 파일은 올릴 수 없습니다.");
			noticeFile.value = ""; // 초기화
			noticeFile.focus(); // 재입력 대기
			return false;
		} //
		
	} //
	
}
</script>

<link rel="stylesheet" th:href="@{/css/noticeWrite.css}">

</head>
<body>

	<!-- layout -->
	<div layout:fragment="content" class="main_sect_pnl">

		<div class="content_sect_pnl">

			<form id="notice_write_frm" th:action="@{'/notice/writeProc.do'}"
				encType="multipart/form-data" method="post">

				<h2 class="main_title">게시글 쓰기</h2>
				
				<div class="write_notice">
					<ul>
						<li>
							<span class="left_col">작 성 자</span>
							<span class="right_col">
								<input type="text" class="form-control" id="noticeWriter"
									name="noticeWriter" th:value="${#authentication.name}" readonly />
							</span>
						</li>
					<li>
						<span class="left_col">패쓰워드</span>
						<span class="right_col">
							<input type="text" class="form-control" id="noticePass"
								name="noticePass" required 
								pattern="(?=.*[a-zA-Z])((?=.*\d)(?=.*\W)).{8,20}"
								title="최소 1개의 숫자 혹은 특수 문자를 포함하여 8~20자 사이로 패쓰워드를 입력하십시오" />
						</span>
					</li>
					<li class="upper-side">
						<span class="left_col">제  목</span>
						<span class="right_col">
							<input type="text" class="form-control" id="noticeSubject"
							name="noticeSubject" required title="글제목을 입력하십시오." />
						</span>
					</li>
				</ul>
			

				<div class="content_area">	
					<!-- case-2 -->
					<div id="noticeContentDiv"></div>
					<input type="hidden" id="noticeContent" name="noticeContent" />
				</div>
				
				<ul>
					<li class="lower-side">
						<span class="left_col">첨부파일</span>
						<span class="right_col">
							<input class="form-control" type="file" id="noticeFile"
							name="noticeFile">
						</span>
					</li>
				</ul>
			</div>

				<div class="write_btn_pnl">
					<button type="submit" class="btn submit">저장</button>
					&nbsp;
					<button type="reset" class="btn cancel" th:onclick="|location.href='@{/notice/list.do}'|">취소</button>
				</div>

			</form>

		</div>
		<!--// content -->

	</div>
	<!--// layout -->
	

</body>
</html>


				<!--	
 				<table class="table mx-auto mt-4" style="width: 780px;">

					<tr>
						<th scope="col">작성자</th>
						인증 회원이상 작성할 수 있으므로 작성자는 기본값 자동 완성/읽기전용 처리
						<td><input type="text" class="form-control" id="noticeWriter"
							name="noticeWriter" th:value="${#authentication.name}" readonly /></td>
					</tr>

					<tr>
						<th scope="col">패쓰워드</th>
						<td><input type="text" class="form-control" id="noticePass"
							name="noticePass" required 
							pattern="(?=.*[a-zA-Z])((?=.*\d)(?=.*\W)).{8,20}" title="최소 1개의 숫자 혹은 특수 문자를 포함하여 8~20자 사이로 패쓰워드를 입력하십시오" /></td>
					</tr>

					<tr>
						<th scope="col">제목</th>
						<td><input type="text" class="form-control" id="noticeSubject"
							name="noticeSubject" required title="글제목을 입력하십시오" /></td>
					</tr>

					<tr>
						<th scope="col">내용</th>
					</tr>						
						
						 <textarea class="form-control" id="noticeContent"
							name="noticeContent" required></textarea>

					<tr>
						<th scope="col">첨부파일</th>
						<td><input class="form-control" type="file" id="noticeFile"
							name="noticeFile"></td>
					</tr>
				</table> 
				-->