<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}" 
	  lang="ko-kr">
<head>
<meta charset="UTF-8">
<title>게시글 보기</title>

<!-- 10.26 -->
<style>
#reply_write_form {
 resize:none;
}
</style>

<!-- bootstrap icons -->
<link rel="stylesheet" th:href="@{/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css}">

<link rel="stylesheet" th:href="@{/css/boardView.css}">

<!-- 10.26 : 댓글 전송용  -->
<!-- AJAX library axios -->
<script th:src="@{'/axios/1.5.0/dist/axios.min.js'}"></script>

<!-- 10.27 : 코드 다량 발생 → 별도 파일화 -->
<script th:src="@{'/js/board_view.js'}"></script>

<!-- 댓글 제어 -->
<script>
window.onload = () => {
		
	// 개별글 로딩시 지금까지 집계된 댓글들 읽어오기
	let boardNum = '[[${board.boardNum}]]';
	
	// 전체 댓글 로딩(불러오기) : board_view.js 파일로 함수 분리
	getAllReplies(boardNum);
	
	/* ***************************************************************************** */ 
 
	// 댓글 작성 함수 : board_view.js 파일로 함수 분리
 	writeReply(boardNum, '[[${#authentication.name}]]');
	
	// 댓글 수정 함수
	updateReply(boardNum, '[[${#authentication.name}]]');
	
	// 댓글 삭제 함수
	deleteReplies(boardNum, '[[${#authentication.name}]]');
	
	// (원)글 삭제 함수
	deleteBoard(boardNum, '[[${#authentication.name}]]');
	
} // onload
</script>
</head>
<body>

	<!-- layout -->
	<div layout:fragment="content"  class="main_sect_pnl">

		<div class="space"></div>
		<div class="content_sect_pnl">
		<!-- [[${board}]] -->
			<div class="upperside_board">
				<h2><b>Q n A</b><span id="sub_title"> | 상품관련 문의</span> </h2>
	
				<div class="board_menu_pnl">
				
					<!-- 글수정 링크 추가 -->
					<a type="button" class="btn btn-primary" th:href="@{/board/list.do}">게시글 목록</a>
					&nbsp;
					<a type="button" class="btn btn-primary" 
						th:href="@{'/board/update.do?boardNum='+${board.boardNum}}"
						th:if="${#authentication.name} == ${board.boardWriter}">글수정</a>
					<!-- (원)글삭제 링크 추가 -->	
					<a type="button" class="btn btn-primary ms-2" 
					    th:id="${'board_delete_btn_' + board.boardNum}"
						href="#"
						sec:authorize="hasRole('ROLE_ADMIN')">글삭제</a>
				</div>
			</div>
			
			<div class="view_board">
				<ul>
					<li><span class="left_col">번  호</span><span class="right_col" th:text="${board.boardNum}"></span></li>
					<li><span class="left_col">작성자</span><span class="right_col" th:text="${board.boardWriter}"></span></li>
					<li><span class="left_col">제  목</span><span class="right_col" th:text="${board.boardSubject}"></span></li>
					<li class="upper-side"><span class="left_col">작성 일자 </span><span class="right_col" th:utext="${#dates.format(board.boardDate, 'yyyy-MM-dd HH:mm:ss')}"></span></li>
				</ul>
				<div class="board_content_box">
					<div id="board_content_fld" th:utext="${board.boardContent}"></div>
				</div>
				<ul>
					<li>
						<span class="left_col">첨부파일</span>
						<span class="right_col" th:if="${#strings.isEmpty(board.boardFile)}">첨부 파일 없음</span>
						<a id="board_file" th:href="@{'/board/download/'+${board.boardOriginalFile}+'/'+${board.boardFile}}">
						<span class="right_col"
							  th:if="${!#strings.isEmpty(board.boardOriginalFile)}" 
						      th:utext="${board.boardOriginalFile}"></span></a> 
					</li>
				</ul>
			</div>
			<!-- <table class="view_board"> -->
			
				<!-- <tr>
					<th scope="col" class="col-2">번  호</th>
					<td th:text="${board.boardNum}" class="col-10"></td>
				</tr>

				<tr>
					<th scope="col">작성자</th>
					<td th:utext="${board.boardWriter}"></td>
				</tr>

				<tr class="title">
					<th scope="col">제  목</th>
					<td th:utext="${board.boardSubject}"></td>
				</tr> 
					<tr>
						<th scope="col">문의 내용</th>
					</tr>
					<tr>							
					<td>
						<div id="boardContentDiv" th:utext="${board.boardContent}" contenteditable="false"></div>
					</td>
				</tr>
-->
				<!-- <tr>
					<th scope="col">첨부파일</th>
					<td>
						<span th:if="${#strings.isEmpty(board.boardFile)}">첨부 파일 없음</span>
						
						<a th:href="@{'/board/download/'+${board.boardOriginalFile}+'/'+${board.boardFile}}" 
						   th:if="${!#strings.isEmpty(board.boardOriginalFile)}" 
						   th:utext="${board.boardOriginalFile}"></a> 
					</td>
				</tr>  -->
				
				<!-- <tr>
					<th scope="col">등록일</th>
					<td th:utext="${#dates.format(board.boardDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
				</tr> -->

			<!-- </table> -->
			
			<!-- -------------------------------------------------------------------------- -->
			
			
			<!-- 댓글 영역  -->
			<!-- <div id="reply_pnl" class="mx-auto my-3 border border-top border-primary-subtle" style="width: 800px;"> -->
			
			<div id="reply_pnl" class="reply_pnl">
			 
				<!-- 개별 게시글 전체 댓글 리스트 -->
				<div id="reply_list_pnl" class="bg-light my-3">
				 	<!-- 댓글 리스트 --> 
				</div>
				 
				<!-- 댓글 등록/수정 -->
				<div id="reply_write_update_pnl" class="my-3">
				 
					<textarea id="reply_write_form" name="reply_write_form" 
							  class="form-control border border-primary"
							  maxlength="100"
							  placeholder="댓글을 100자이내로 작성하십시오"></textarea>
				   
				</div>
				 
				<!-- 댓글 메뉴 -->
				<!-- 정렬 교정 -->
				<div class="reply_btn_pnl">
					
					<!-- 댓글 패쓰워드 -->
					<!-- 정렬 교정 -->
					<input type="text" th:id="${'board_pass_' + board.boardNum}" 
						   th:name="${'board_pass_' + board.boardNum}" required 
						   placeholder="비밀번호"
						   class="board_password">
					
					<!-- 댓글 메뉴 -->
					<div class="reply_menu_pnl">
					<a href="#" th:id="${'reply_write_btn_' + board.boardNum}" class="btn insert">댓글 등록</a>
					<a href="#" th:id="${'reply_update_btn_' + board.boardNum}" class="btn update">댓글 수정</a>
					<a href="#" th:id="${'reply_delete_btn_' + board.boardNum}" class="btn delete" sec:authorize="hasRole('ROLE_ADMIN')">댓글 삭제</a>
					</div>
				</div>	
			
			</div>
			<!--// 댓글 영역  -->
			
			<!-- -------------------------------------------------------------------------- -->
			<!-- 
			<div class="board_menu_pnl">
				
				글수정 링크 추가
				<a type="button" class="btn btn-primary" 
					th:href="@{'/board/update.do?boardNum='+${board.boardNum}}">글수정</a>
				(원)글삭제 링크 추가	
				<a type="button" class="btn btn-primary ms-2" 
				    th:id="${'board_delete_btn_' + board.boardNum}"
					href="#">글삭제</a>
				&nbsp;
				<a type="button" class="btn btn-primary" th:href="@{/board/list.do}">게시글 목록</a>
			</div>
		 -->
		
		</div>
		<!--// content -->

		<div class="space"></div>
	</div>
	<!--// layout -->

</body>
</html>