<!DOCTYPE html>
<html 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>itemPage</title>
    <!-- <link rel="stylesheet" href="./itemPage.css"> -->
    <link th:href="@{/css/itemPage.css}" rel="stylesheet" />
</head>

<body>
    <!-- layout -->
    <div layout:fragment="content" class="main_sect_pnl">
		
		<!-- 인자 : [[${product}]]
		 -->
		 
        <div class="product">
            <div class="col product_img">
                <img th:src="@{'/thumbnails/soccer/' + ${product.prdImg}}" alt="thumbnail">
            </div>
            <div class="col product_info">
                <h2 id="name" th:text="${product.prdName}"></h2>
                <div class="detail_info">
                    <table id="detail_info_table">
                        <tbody>
                            <tr>
                                <th id="th_maker">제조사</th>
                                <td id="maker"><span th:text="${product.company}"></span></td>
                            </tr>
                            <tr>
                                <th id="th_code">상품코드</th>
                                <td id="code"><span th:text="${product.prdCode}"></span></td>
                            </tr>
                            <tr>
                                <th id="th_price">가격</th>
                                <td id="price"><span th:utext="|${#numbers.formatInteger(product.prdPrice, 3, 'COMMA')}원|"></span></td>
                            </tr>
                            <tr>
                                <th id="th_quantity">수량</th>
                                <td id="quantity">
                                    <form action="#">
                                        <select name="quantity" id="select_quantity" style="height: 30px;" onchange="getValue()">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12이상 단체</option>
                                        </select>
                                        
                                        
                                    </form>
                                </td>
                            </tr>
                            <tr>
                            	<th id="th_total">주문 금액</th>
                            	<td id="total_price_fld">
                            		<input id="total_price" type="text" style="width: 200px; height: 30px;"> <span>원</span>
                            	</td>
                            </tr>
                            
                            <script type="text/javascript">
                    
                            	function getValue(){
                                    var price = document.getElementById("price").innerText.split("원")[0].replace(",","");

                                    var select = document.getElementById("select_quantity");
                                	var selectValues = select.options[select.selectedIndex].value;
                                	
                                	var tt_price = document.getElementById("total_price");
                                    var totalPrice = Number(price * selectValues);
                                    
                                    console.log("price: " + price + ", selectValues: " + selectValues);
                                    console.log("tt: " + (price * selectValues).toLocaleString('ko-KR'));
                                    
                                    if(selectValues != "12"){
                                    
                                    	tt_price.value = totalPrice.toLocaleString('ko-KR');
                                    	tt_price.style.textAlign = "right";
                                    } else {
                                    
                                    	tt_price.value = "0";
                                    	alert("단체주문은 QnA 게시판에 양식에 맞춰 기재해주세요.\n※ 양식은 공지사항 참조 ※");
                                    }
                                }
                              </script>
                        </tbody>
                    </table>
                    <p id="group_notice">※ 12개 이상의 단체주문은 12로 신청 후 QnA란에 남겨주세요.</p>
                </div>
            </div>
        </div>

        <div class="btn_fld">
        	[[${#authentication.name}]]
            	<a th:href="@{'/order/cart/' + ${#authentication.name}}"><input type="button" class="btn cart" value="장바구니에 담기"></a>
            	<input type="submit" class="btn order" value="바로 결제하기">
            	<input type="hidden" name="orders[0].prdName" th:value="${product.prdName}">
            	<input type="hidden" name="orders[0].prdCode" th:value="${product.prdCode}">
            	<input type="hidden" name="orders[0].prdNum" th:value="${product.prdNum}">
            	<input type="hidden" name="orders[0].prdPrice" th:value="${product.prdPrice}">
        
        </div>
        
    </div>
    <!-- // layout -->
</body>

</html>