<!DOCTYPE html>
<html 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./soccer.css"> -->
    <link th:href="@{/css/product_list.css}" rel="stylesheet" />
    
	<!-- bootstrap icons -->
	<link rel="stylesheet" th:href="@{/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css}">
    
    
</head>
<body>
	
	<!-- layout -->
	<div layout:fragment="content" class="main_sect_pnl">
		
		 <!-- 인자 : [[${pageVO}]] -->
		
		<div class="space"></div>
		
    	<div id="wrap">
      		<div class="product_pnl">
      			<div class="product_list" th:each="replica, st : ${replicaList}">
      				<ul class="prd_info">
      					<li class="prd_img"><a th:href="@{'/product/itemPage2.do/' + ${replica.prdNum}}"><img th:src="@{'/thumbnails/replica/' + ${replica.prdImg}}" alt="thumbnail"></a></li>
      					<li class="prd_name"><a th:href="@{'/product/itemPage2.do/' + ${replica.prdNum}}" th:utext="${replica.prdName}"></a></li>
      					<li class="prd_price"><a th:href="@{'/product/itemPage2.do/' + ${replica.prdNum}}" th:utext="|${#numbers.formatInteger(replica.prdPrice, 3, 'COMMA')}원|"></a></li>
      				</ul>
      			</div>
      		</div>
               
            <!-- 페이징 -->
			<!-- 검색이 아닌 경우 -->	
			<div class="d-flex justify-content-center mt-4" th:if="${#strings.isEmpty(searchKey)}">
				<nav aria-label="Page navigation example" style="width: 180px; margin:auto;">
					<ul class="pagination">
	
						<!--  첫 페이지 -->
						<li class="page-item"><a class="page-link"
							th:href="@{/product/replica?currPage=1}" aria-label="Start">
								<span aria-hidden="true">&Lt;</span>
						</a></li>
	
						<!-- 이전 페이지 -->
						<li class="page-item">
							<a class="page-link"
							th:href="@{'/product/replica?currPage='+${pageVO.prePage}}"
							aria-label="Previous"> <span aria-hidden="true">&lt;</span>
						</a>
						</li>
	
						<!-- 현재 페이지 -->
						<li class="page-item active" th:if="${pageVO.currPage > 1}"><a class="page-link"
							th:href="@{'/product/replica?currPage='+${pageVO.prePage}}"
							th:utext="${pageVO.prePage}"></a></li>
							
						<li class="page-item active"><a class="page-link"
							th:href="@{'/product/replica?currPage='+${pageVO.currPage}}"
							th:utext="${pageVO.currPage}"></a></li>
							
						<li class="page-item active" th:if="${pageVO.currPage < pageVO.maxPage}"><a class="page-link"
							th:href="@{'/product/replica?currPage='+${pageVO.nextPage}}"
							th:utext="${pageVO.nextPage}"></a></li>
	
						<!-- 다음 페이지 -->
						<li class="page-item">
							<a class="page-link"
							th:href="@{'/product/replica?currPage='+${pageVO.nextPage}}"
							aria-label="Next"> <span aria-hidden="true">&gt;</span>
						</a>
						</li>
	
						<!-- 마지막 페이지 -->
						<li class="page-item"><a class="page-link"
							th:href="@{'/product/replica?currPage='+${pageVO.endPage}}"
							aria-label="End"> <span aria-hidden="true">&Gt;</span>
						</a></li>
					</ul>
				</nav>
			</div>
			<!--// 검색이 아닌 경우 -->
			
			<!-- 검색인 경우 -->	
			<div class="d-flex justify-content-center mt-4" th:if="${!#strings.isEmpty(searchKey)}">
				<nav aria-label="Page navigation example" style="width: 180px; margin:auto;">
				  <ul class="pagination">
				    
				    <!--  첫 페이지 -->
				    <li class="page-item">
				      <a class="page-link" 
				      	 th:href="@{'/product/searchReplica.do?currPage=1&searchKey='+${searchKey}+'&searchWord='+${searchWord}}" aria-label="Start">
				        <span aria-hidden="true">&Lt;</span>
				      </a>
				    </li>
				    
				    <!-- 이전 페이지 -->
				    <li class="page-item">
				      <a class="page-link" th:href="@{'/product/searchReplica.do?currPage='+${pageVO.prePage}+'&searchKey='+${searchKey}+'&searchWord='+${searchWord}}" aria-label="Previous">
				        <span aria-hidden="true">&lt;</span>
				      </a>
				    </li>
				    
				    <!-- 현재 페이지 -->
				    <li class="page-item active">
				    	<a class="page-link" th:href="@{'/product/searchReplica.do?currPage='+${pageVO.currPage}+'&searchKey='+${searchKey}+'&searchWord='+${searchWord}}" th:if="${pageVO.currPage > 1}" th:utext="${pageVO.prePage}"></a>
				    	<a class="page-link" th:href="@{'/product/searchReplica.do?currPage='+${pageVO.currPage}+'&searchKey='+${searchKey}+'&searchWord='+${searchWord}}" th:utext="${pageVO.currPage}"></a>
				    	<a class="page-link" th:href="@{'/product/searchReplica.do?currPage='+${pageVO.currPage}+'&searchKey='+${searchKey}+'&searchWord='+${searchWord}}" th:if="${pageVO.currPage < pageVO.maxPage}" th:utext="${pageVO.nextPage}"></a>
			    	</li>
				    
				    <!-- 다음 페이지 -->
				    <li class="page-item">
				      <a class="page-link" th:href="@{'/product/searchReplica.do?currPage='+${pageVO.nextPage}+'&searchKey='+${searchKey}+'&searchWord='+${searchWord}}" aria-label="Next">
				        <span aria-hidden="true">&gt;</span>
				      </a>
				    </li>
				    
				    <!-- 마지막 페이지 -->
				    <li class="page-item">
				      <a class="page-link" th:href="@{'/product/searchReplica.do?currPage='+${pageVO.endPage}+'&searchKey='+${searchKey}+'&searchWord='+${searchWord}}" aria-label="End">
				        <span aria-hidden="true">&Gt;</span>
				      </a>
				    </li>
				  </ul>
				</nav>
			</div>	
			<!--// 검색인 경우 -->	
			<!--// 페이징 -->
       
       		<form th:action="@{/product/searchReplica.do}" method="get">
			
				<div id="search_pnl" class="mx-auto row mt-2 mb-5" style="width:50vw; margin:20px auto; display: flex; gap:5px; justify-content:center; align-items:center;">
				
					<!-- 게시글 목록 이동에 따른 조치 : 빈 영역 -->
					<div class="col-3">
					</div>
					
					<div id="select_pnl" class="col-2 pe-0">
						<select class="form-select" id="searchKey" name="searchKey" aria-label="검색 구분">
						  <option selected value="prdName">제품명</option>
						  <option value="company">제조사</option>
						  <option value="prdCode">제품 코드</option>
						</select>
					</div>
					
					<div id="search_pnl" class="col-4">
					
						<input type="text" class="form-control" id="searchWord" name="searchWord" />
					</div>
					
					<div id="search_btn_pnl" class="col-1 ps-0">
						<button id="search_btn" class="btn btn-primary">
							<!-- bootstrap icon
							     : https://icons.getbootstrap.com/icons/search/  -->
							<i class="bi bi-search"></i>
						</button>
					
					</div>
				</div>
			</form>
    	</div>
    </div> <!-- // layout -->
</body>
</html>