<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	lang="ko-kr">
	

	
<div th:fragment="header">

	<div class="header_sect_pnl">
	
		<header>
            <div id="logo_box">
                <h1><a th:href="@{/index}">FootBaller</a></h1>
            </div>
                <ul id="login_join_box">
               		<span sec:authorize="isAuthenticated()" th:text="${#authentication.name}"></span>
                    <li>
                    	<a sec:authorize="!isAuthenticated()" th:href="@{/login}">
							<b>log in</b>
                    		<span class="material-symbols-outlined">
								login
							</span>
						</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/member/view.do}">회원정보</a>
                    </li>
                    <span>/</span>
                    <li>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/member/join.do}">join</a>
                  	<a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
    				</li>
                </ul>
            <nav id="category_box">
                <ul id="main_menu">
                    <li class="sub_menu">
                    	<a th:href="@{/product/soccer}">
                    	Soccer 
                    		<span class="material-symbols-outlined icon">
								sports_soccer
							</span>
                    	</a>
                    </li>
                    <li class="sub_menu">
                    	<a th:href="@{/product/replica}">
                    	Replica 
                    		<span class="material-symbols-outlined icon">
                    			apparel
                    		</span>	
                    	</a>
                    </li>
                    <li class="sub_menu">
                    	<a th:href="@{/notice/list.do}">
                    	Notice 
                    		<span class="material-symbols-outlined">
                    			campaign
                    		</span>
	                    </a>
	                </li>
                    <li class="sub_menu">
                    	<a th:href="@{/board/list.do}">
                    	Q n A 
                    		<span class="material-symbols-outlined">
                    			help_center
                    		</span>
                    	</a>
                    </li>
                </ul>
            </nav>
        </header>
	</div>

</div>